{{> _head.mustache}}
{{> _nav.mustache}}
  <h1>Usuários</h1>
  <p><a class="btn btn-primary" href="/users/new">+ Novo usuário</a></p>
  <table class="table">
    <thead>
      <tr><th>Nome</th><th>Email</th><th>Ações</th></tr>
    </thead>
    <tbody id="users-tbody">
      {{#users}}{{>user_row.mustache}}{{/users}}
    </tbody>
  </table>
{{> _foot.mustache}}
